// TODO: Create a variable.scss file
$orange: #F25C05;
$blue: #0E4C73;
$white: #ffffff;

.homepage {
  background-color: $blue;
  height: 100vh;
  display: block;
  &__title {
    margin: 0 auto;
    font-size: 3rem;
    color: $white;
  }
  &__start-btn {
    margin-top: 4em;
    padding: 1em 2em;
    background-color: $orange;
    color: $white;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: none;
    transition: all 0.25s ease-in;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      background-color: darken($color: $orange, $amount: 5);
    }
  }
}