.progression-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F9F3EB;
  border-radius: 1rem;
  padding: 2rem;
  &__image-wrapper {
    width: 20%;
    padding-bottom: 20%;
    background: red;
    position: relative;
    overflow: hidden;
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  &__details-summary {
    width: 40%;
  }
  &__details-wrapper {
    width: 40%;
  }
}