.progression-card {
  width: 100%;
  display: block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: gray;

  &::before {
    position: absolute;
    content: "";
    font-size: 50px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: green;
    width: 0;
    transition: all 0.25s ease-in 0.25s;

  }
  &.is-ready {
    &::before {
      width: var(--progression-bar-width);
    }
  }
  &__label {
    z-index: 1;
    position: relative;
  }
}